@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Licorice&family=Meow+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color: white;
}

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: start;
    background-color: rgba(0, 0, 0, 0.075);
    background-image: url(./img/home_lofi.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--color);
}

a {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 0.025rem rgba(0, 0, 0, 0.05);
    background-color: white;
    border: 0.075rem solid var(--color);
    perspective: 1000px;
}

a big {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 200px;
    height: 200px;
}

a:hover big {
    transform: rotateY(180deg);
}

a big img {
    display: block;
    position: absolute;
    backface-visibility: hidden;
}

a big img:nth-child(2) {
    transform: rotateY(180deg);
}

.clicker-script-regular {
    font-family: 'Clicker Script', cursive;
    font-weight: 400;
    font-style: normal;
}

.meow-script-regular {
    font-family: 'Meow Script', serif;
    font-weight: 400;
    font-style: normal;
}

.licorice-regular {
    font-family: 'Licorice', serif;
    font-weight: 400;
    font-style: normal;
}

header {
    margin: 0 0 1em;
    text-align: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75), transparent);
    padding-top: 4em;
    padding-bottom: 2em;
    width: 100%;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.1;
}

.sub {
    /* display: none; */
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 85%;
    line-height: 1;
    padding: 0.75em 0;
}
